
{% extends 'base.html' %}
{%load i18n %}

{% block title %}Enter new password{% endblock %}

{% block content %}

{% if validlink %}

<div class="container">
  <div class="row">
    <div class="col-sm-0 col-md-3">
    </div>
    <div class="col-sm-12 col-md-6">
      <form class="mx-auto" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <h2 class="h3 mb-5 font-weight-normal">Set a new password!</h2>
        <div class="mb-5">
          <button class="btn btn-lg btn-primary" type="submit">Change password</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% else %}
<div role="main" class="container">
  <div class="jumbotron">
    <p class="lead">{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
    <a class="btn btn-lg btn-primary" href="{% url 'login' %}" role="button">login</a>
  </div>
</div>

{% endif %}

{% endblock %}
